// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
html, body {
	background-color: #E8EAE9 !important;
	padding: 0;
    margin: 0;
	font-family: "Open Sans Light", "Verdana", sans-serif;
	font-size: 12px;
	text-align: center;
	height:100%;
}

.header img {
	height: 335px;
	display: inline;
	float: left;
	margin: 0px 50px 0px 50px;
}

.header {
	width:100%;
	height: 335px;
	background-color: #000000;
	text-align: left;
}
.col{
	width:200px;
}

.title h1 {
	color: #86BC25;
	font-size: 30px;
}

.title a {
	color: #86BC25;
	font-size: 30px;
}

.title h2 {
	color: #ffffff;
	font-size: 24px;
}

h1 {
	font-weight: normal;
}

h2{
	font-weight: normal;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { 
	from	{ opacity:0; } 
	to 		{ opacity:1; } 
}


@-moz-keyframes fadeIn { 
	from 	{ opacity:0; } 
	to 		{ opacity:1; } 
}

@keyframes fadeIn { 
	from 	{ opacity:0; } 
	to 		{ opacity:1; } 
}

::-webkit-scrollbar {
display: none;
}
.nopadding {
   padding: 0 !important;
   margin: 2px !important;
}

.multiselect {
	box-sizing: content-box;
    /* display: block; */
    display: table !important;
    position: relative !important;
    width: 92% !important;
    padding: 3px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    min-height: 40px !important;
    max-height: 40px !important;
    text-align: left !important;
    color: #35495e !important;
    margin: auto !important;
}

.wrapper {
	position:relative;
	min-height:100%;
}

.container-fluid {
	margin: 0px !important;
	padding:0px !important;
	min-height:735px !important;
}
.team-container {
	width:20% ;
	margin-right:10px;
	height:100px;
	width:40%;
	padding:10px;
	text-align:right;
}

.nav-team {
	text-decoration: none!important;
	color: white!important;
}


.nav-team:hover {
	color: #86BC25!important;
	text-decoration: none!important;
}
.board {
	width:80%;
	float:right;
}

.row {
	margin: 0px !important;
	text-align: left;
	width: 101%;
	padding:5px;
}

.row a {
	text-decoration: none;
	color: #86BC25;
}
.row h1 {
	text-decoration: none;
	font-size:24px;
	margin:0px;
	padding:0px;
}

.row p {
	margin:0px;
}
.form-group{
	float:left;
	width:100%;
	display:table;
	margin:5px;
	border-style:solid;
	border-width:2px;
	border-color:#D0D0CE;
	min-height:460px;
	background-color:#FFFFFF;
	position:sticky;
	top:135px;
	z-index:500;
}
.btn-outline-success {
    color: #007531 !important;
    border-color: #007531 !important;
    font-color:#007531 !important;
}
.btn-outline-success:hover{
    background-color: #007531 !important;
    border-color: #007531 !important;
    color:#ffffff !important;
}
.roles{
	float:left;
	width:90%;
	display:table;
	margin:5px;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#D0D0CE;
	/*min-height:440px;*/
	position:sticky;
	top:135px;
	z-index:500;
}
/*.role-list li {
	text-align:right;
}*/

.role-list a {
	text-decoration: none;
	color: black;
	padding:9px;
	margin:5px;
	text-align:right;
	display:block;

}

.role-list a:hover {
	text-decoration: none;
	color: #86BC25;
}

.btn-lg{
	margin-top:6px;
	margin-bottom:10px;

}

.centre a {
	display: block;
	color: black; 
	text-align:left;
	padding: 4px;
	vertical-align: center;
	font-size:24px;
	font-weight: 400;
	width:100%;
	margin: 8px 4px 0px 4px;
	text-decoration: none;
}

.card {
  	display: inline-block;
	vertical-align:top;
	border-style: solid;
	border-width: 12px 0px 0px 0px;
/* 	width: 200px;
	max-width:200px;*/
  	/*height: 260px;*/
  	height: 280px;
  	max-height: 280px;
  	/*max-height:260px;*/
  	width:200px;
	margin:4px	;
	background-color: #FFFFFF;
	color: black;
	overflow: hidden;
	
	
}

.visible {
	opacity: 0.9;

}

.anchor {
	/*border-color: #012169;*/
	display:block !important;
	visibility: hidden;
	top:-165px;
	position:relative !important;

}

.anchor-row{
	display:block !important;
	visibility: hidden;
	top:-165px;
	position:relative !important;
}

.Style1 {
	/*border-color: #012169;*/
	border-color:#C4D600;
}

.Style2 { 
	/*border-color: #43B02A;*/
	border-color:#43B02A;
}

.Style3 {
	/*border-color: #2C5234;*/
	border-color:#046A38;
}

.Style4 {
	border-color:  #6FC2B4;
}

.Style5 {
	border-color:  #0097A9;
}

.Style6 {
	border-color:  #53565A;
}

.Style7 {
	border-color:  #00A3E0;
}

.Style8 {
	border-color:  #0076A8;
}

.Style9 {
	border-color:  #012169;
}

.Style10 {
	border-color:  #9DD4CF;
}

.Style11 {
	border-color:  #97999B;
}
.Style12 {
	border-color:  #62B5E5;
}
.Style13 {
	border-color:  #004F59;
}
.Style14 {
	border-color:  #000000;
}

.card-header {
	width: 100%;
	padding:2px;
	margin:0px 0px 0px 0px;
	height:55px;
	background-color: #ffffff;
	border-bottom-width:0px
}

.card-header p {
	text-transform:uppercase;
	height:11px;
	margin:0px;
	font-size: 9px;
	font-weight:bold;
	float:right;
	text-align:right;
}

.card-header h1 {
	text-align:right;
  	padding: 2px;
	margin: 4px 0px 0px 4px;
	font-size: 9px;
	font-style:italic;
	width:100%;
	vertical-align: middle;
	float: right;
	display: block;
	color: black;
}

.card-header h2 {
	text-align:right;
  	padding: 1px;
  	min-height:15px;
	margin: 3px 0px 0px 3px;
	font-size: 11px;
	width:100%;
	vertical-align: middle;
	float: right;
	display: block;
	color: black;
}

.card-header a {
	text-align:left;
	width:100%;
  	padding: 0px;
	margin: 4px 0px 0px 4px;
	font-size: 12px;
	vertical-align: middle;
	float: left;
	display: block;
	color: black;

}

.card-header a:hover {
	text-decoration: none;
	color: #86BC25;
}


.card-body-top h1 {
	font-size: 12px;
	color: black;
	font-style: italic;
	margin: 0px;
	padding: 4px;
}

.card-body-top p {
	font-size: 10px;
	margin: 0px;
	padding: 1px 4px 33px 4px;
	text-align: left;
}


.card-body-top {
	margin: 0px;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: inherit;
	position: absolute;
	top:87px;
	opacity: 0px;
	opacity: 0;

	width: 200px;
	height: 211px;
	max-width: 200px;
	max-height: 211px;
	overflow-y: hidden;
	padding: 0px;
	text-align: justify;
    text-justify: distribute;
	background-color: #ffffff;

	transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    
}

.card-body-top:hover {
	opacity: 1;
	overflow-y:scroll;
}

.card-img-bottom {	
    position: absolute;
    left: 50%;
    top: 70%;
    /* height: 100%; */
    width: auto;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav ul {
	list-style-type: none;
	margin: auto;
	padding: 10px 0px 10px 0px;
	overflow: hidden;
	background-color: #ffffff;	
	text-align: centre;
	font-size: 100%;

}

.navbar {
	font-size:15px;
	color: black;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	min-height: 66px;
}

.navbar-top {
	background-color: black;
}

.navbar-role {
	background-color: #ffffff !important;
}

.nav-pdf {
	font-size: 14px;
	color: #F4F4F4;
	text-decoration: none!important;
}

.service-line-dropdown, .city-dropdown{
	color: #F4F4F4 !important;

}
.btn-success {
  color: #fff;
  /*background-color: #38c172;*/
  background-color:#007531;
  border-color:#007531;
}

.btn-success:hover{
  color: #fff;
  background-color:#007531;
  border-color:#007531;
}

.role-bar {
	background-color: white;
	width:100%;
}

.role-bar ul{
	margin:auto;
	height:100%;
}

.role-navbar {
	display: inline-block;
	left: 0;
	right: 0;
	text-align: center;
	width: 75%;
}

.role-navbar a {
	text-decoration: none;
	color: black;
	padding-left:7px;
	padding-right:7px;
}

.role-navbar li:hover {
	text-decoration: none;
	color: #86BC25;
}

.navbar li {
	text-decoration: none!important;
}

.navbar a:hover {
	color: #86BC25;
	text-decoration: none!important;
}

.nav-home {
	text-decoration: none!important;
	color: white!important;
}


.nav-home:hover {
	color: #86BC25!important;
	text-decoration: none!important;
}

li{
	display: inline;
	text-align: center;
	padding: 10px 10px;
	
}

.title {
	width: 60%;
	padding: 10px;
	height: 100px;
	display: inline;
	text-align: left;
	float: left;
	margin-left:30%;
}

.footer {
	background-color: black;
	color: white;
	width: 100%;
	height: auto;
	padding: 10px;
	text-align: center;
	bottom:0;
	/*display:block;*/
	/*position:flex;*/
}


.footer p {
	font-size: 14px;	
	margin: 0px;
}

.footer a{
	text-decoration: none;
	color: #86BC25;
}

.footer a:hover {
	text-decoration: none;
	color: #aae04a;
}

.instructions a {
	font-size: 12px;
	text-align:center;
	display:inline;
	color: #aae04a;

}

.instructions p {
	padding:8px;
}

.instructions a:hover {
	text-decoration: none;
	color: #aae04a;
}

.instructions h1 {
	color: #007531;
	font-size: 22px;
	text-align:center;
	padding:5px;
}

.form {
	width: 600px;
	margin: auto;
	
}

.no-results img {
	height: 400px;
	display: inline;
	float: left;
	margin-left:50%;
	margin-right:50%;
}

.no-results h1{
	margin-left: 60%;
	text-align: center;
	font-size:30px;
}

@media print
{    
    .no-print-nav, .footer, .header, .roles, .col, .role-bar {
        display: none;
    }
 
    #selections{
    	display:none;
    }

/*    @page  {

    size: 210mm 280mm; 
    margin-top: 0.1cm; 
    margin-bottom: 0.1cm;
 	}*/

	.card-header{
		page-break-inside: avoid;
	}
	.row{
		display:block !important;
	}
	.card {
		break-inside:avoid;
		display:inline-block;
		height:160px;
		width:100px;
		border-width:6px 0px 0px 0px;
		padding:1px;
	}

	.card-body-top{
		display:none;
		page-break-inside: avoid;

	}
	.card-header{
		page-break-inside:avoid;
		height:15px;

	}

	.card-img-bottom {
		page-break-inside: avoid;
		height: 126px;
	}
	
	.col-8{
		min-width:100%;
		position:relative;
		display:block;
	}

	.row-justify-content-left{
		position:relative;
	}
	.container-fluid{
		position:relative;
	}

	.card-header a,.card-header h2,.card-header p,.card-header h1{
		font-size: 7px;
		padding: 0px;
		margin:0px;
		text-decoration:none;

	}
	.body
	{
	  margin: 10mm 10mm 10mm 10mm;
	}

}    

