<template>
    <div class="col">
      <div class="form-group" id="selections">
            <div class="instructions">
                <h1>Select filters</h1>
                <p>
                    Select from the below dropdowns to apply filters, then click 'Generate Board' to view the digital photoboard
                    <br><br>Photos not displaying? Make sure you are signed into <a href="https://people.deloitteresources.com/dpn/#/Profile/" target="_blank">DPN</a> then refresh the page<br><br>
                </p>
            </div>
    <multiselect v-model="selectedCity" :options="Object.keys(map)" placeholder="Filter Locations" :multiple="true" :close-on-select="true" :clear-on-select="true"  open-direction="bottom" id="cities"> 
        <option v-for="city in Object.keys(map)">{{city}}</option>
    </multiselect>     

    <multiselect v-model="selectedBU" :options="computedBusinessUnits" placeholder="Filter Business Units" :multiple="true" :close-on-select="true" :clear-on-select="true" open-direction="bottom" id="businessUnits">
        <option v-for="BU in computedBusinessUnits">{{BU}}</option>
    </multiselect>

    <multiselect v-model="selectedSA" :options="Array.from(computedServiceAreas.keys())" :multiple="true" placeholder="Filter Service Areas" :close-on-select="true" :clear-on-select="true"  open-direction="bottom" id="serviceAreas"> 
        <option v-for="serviceArea in Array.from(computedServiceAreas.keys())">{{serviceArea}}</option>
    </multiselect>

    <multiselect v-model="selectedOU" :options="computedOperatingUnits" placeholder="Filter Operating Units" :multiple="true" :close-on-select="true" :clear-on-select="true" open-direction="bottom" id="operatingUnits"> 
        <option v-for="operatingUnit in computedOperatingUnits">{{operatingUnit}}</option>
    </multiselect>


<div class="container">
<div class="row">    
        <button class="btn btn-outline-success btn-m btn-block"  v-on:click="search()">Generate Board</button>
</div>
<div class="row">
    <div class="col nopadding">
        <button class="btn btn-outline-success btn-sm btn-block"  v-on:click="clearSelection">Clear Filters</button>
    </div>
    <div class="col nopadding">
        <button class="btn btn-outline-success btn-sm btn-block " data-toggle="popover" title="Link copied to clipboard" data-content="Save the link that has just been copied to your clipboard for a direct link to this filtered board." v-on:click="copyLinkToClipboard" >Copy Link</button>
    </div>

</div>
        
<div class="form-text text-muted" v-if="resultCount>=0">number of results: {{resultCount}}</div>
</div>

    <loading :active.sync="isLoading"
        :can-cancel="true" 
        :is-full-page="fullPage">
    </loading>

</div>
</div>
</div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import Loading from "vue-loading-overlay";
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        components: { Multiselect, Loading },
        props:["readyToLoad","cities","businessUnits","serviceAreas","operatingUnits","map","resultCount","isLoading"],
        data: function(){
            return {
                selectedCity:[]
                ,selectedBU:[]
                ,selectedSA:[]
                ,selectedOU:[]
                ,fullPage:true

            }

        },
        mounted() {
            //enabling popover on copy link button
            $("[data-toggle=popover]").popover();

            //check if there are any filters in the url
            if(this.$route.fullPath.length>1){
                this.queryObject = {'cities':[],'businessUnits':[],'serviceAreas':[],'operatingUnits':[]};
                var queryItem =''

                //set value of queryobject to blank if there is no value in the url
                for(var i in this.$route.query){
                    queryItem=this.$route.query[i]+'';
                    this.queryObject[i]=queryItem.split(',');
                }

                //set selected values to populate with any values from url query
                this.selectedCity=this.queryObject['cities'];
                this.selectedBU=this.queryObject['businessUnits'];
                this.selectedSA=this.queryObject['serviceAreas'];
                this.selectedOU=this.queryObject['operatingUnits'];

                //generate board
                this.generateBoard(this.replaceBlanksFilterObject([this.selectedCity,this.selectedBU,this.selectedSA,this.selectedOU]));
            }
        },
        computed: {
            computedBusinessUnits() {
                let applicableBUMap = new Map();
                if(this.selectedCity.length > 0){
                    this.selectedCity.forEach(city=>{
                        for(var businessUnit in this.map[city]) {
                            applicableBUMap.set(businessUnit, true);
                        }
                    });
                    return Array.from(applicableBUMap.keys());
                } else {
                    return this.businessUnits;
                }
            },
            computedServiceAreas() {
                let applicableSAMap = new Map();
                if(this.selectedCity.length>0){
                    this.selectedCity.forEach(city => {
                        if(this.selectedBU.length > 0) {
                            this.selectedBU.forEach(businessUnit =>{
                                for(var serviceArea in this.map[city][businessUnit]){
                                    applicableSAMap.set(serviceArea,this.map[city][businessUnit][serviceArea]);
                                }
                            }); 
                        } else {
                            this.computedBusinessUnits.forEach(businessUnit =>{
                                for(var serviceArea in this.map[city][businessUnit]){
                                    applicableSAMap.set(serviceArea,this.map[city][businessUnit][serviceArea]);
                                }
                            });
                        }
                    });
                    return applicableSAMap;
                } else {
                    this.cities.forEach(city => {
                            if(this.selectedBU.length > 0) {
                                this.selectedBU.forEach(businessUnit =>{
                                    for(var serviceArea in this.map[city][businessUnit]){
                                        applicableSAMap.set(serviceArea,this.map[city][businessUnit][serviceArea]);
                                    }
                                }); 
                            } else {
                                this.computedBusinessUnits.forEach(businessUnit =>{
                                    for(var serviceArea in this.map[city][businessUnit]){
                                        applicableSAMap.set(serviceArea,this.map[city][businessUnit][serviceArea]);
                                    }
                                });
                            }
                        });
                    return applicableSAMap;
                }
            },
            computedOperatingUnits() {
                let applicableOUMap = new Map();
                if(this.selectedSA.length>0){
                    this.selectedSA.forEach(serviceArea => {
                        this.computedServiceAreas.get(serviceArea).forEach(valueArr =>{
                            applicableOUMap.set(valueArr,true);
                        })
                    })
                }
                else{

                    for(const [key,valueArr] of this.computedServiceAreas){
                        for(var operatingUnit in valueArr){
                            applicableOUMap.set(valueArr[operatingUnit],true);
                        }
                    }
                    
                }
                return Array.from(applicableOUMap.keys());

            }
        },
        methods: {
            replaceBlanksFilterObject(filterObjectToCleanse){              
                var cleansedFO=[]

                for(var i=0;i<filterObjectToCleanse.length;i++){
                    if(filterObjectToCleanse[i].length==0){
                        cleansedFO.push('all');
                    }
                    else{
                        cleansedFO.push(filterObjectToCleanse[i]);
                    }
                }
                return  cleansedFO;

            }

            ,search() {

                var newFilterObject=[this.selectedCity, this.selectedBU, this.selectedSA, this.selectedOU]

                this.$router.push({path: "/#/", query: {cities: newFilterObject[0],businessUnits:newFilterObject[1],serviceAreas:newFilterObject[2],operatingUnits:newFilterObject[3]}});

                var cleansedFilterObject = [];

                cleansedFilterObject = this.replaceBlanksFilterObject(newFilterObject);

                this.generateBoard(cleansedFilterObject);
            },
            generateBoard(generateBoardObject){
                this.$emit('generateBoard',generateBoardObject[0],generateBoardObject[1],generateBoardObject[2],generateBoardObject[3]);
            }

            ,clearSelection(){
                //set all 'selected' values to an empty array
                this.selectedCity=[];
                this.selectedBU=[];
                this.selectedSA=[];
                this.selectedOU=[];
            
            }
            ,copyLinkToClipboard(){
                //code to copy url link to the filtered photoboard for bookmarking
                var dummyInput = document.createElement('input'),

                //copy the page url + router query
                text = document.location.origin+'/wwitz/#'+this.$router.currentRoute.fullPath;
                document.body.appendChild(dummyInput);
                dummyInput.value = text;
                dummyInput.select();
                document.execCommand('copy');
                document.body.removeChild(dummyInput);
            
            }
        }
    }


</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

