<template>
  <!-- <div class="col-12"> -->
                <div v-bind:class="item.Service_Area_Style + ' card'">
    
                    <div class="card-header">
                            <p>{{item.Location}}</p>
                            <h1>{{item.Operating_Unit}}</h1>
                            <h2>{{item.Mobile_Num}}</h2>
                            <a v-bind:href="'https://people.deloitteresources.com/dpn/index.html#/Profile/'+item.username" target="_blank" >{{item.Full_Name}}</a>
                            <!-- <a>{{item.Mobile_Num}}</a> -->
                    </div>
                    <img class = "card-img-bottom" v-bind:src="'https://people.deloitteresources.com/User%20Photos/Profile%20Pictures/i_0%C7%B5.t_adfs%20prod_'+item.username+'_MThumb.jpg'" onerror="this.src='img/id.png';"></img>
                    <div class="card-body-top">
                        <h1>{{item.Qualification}}</h1>
                        <p>{{item.Bio}}</p>
                    </div>
                    </div>
                </div>                      
            <!-- </div>   -->
  
</template>

<script>
    export default {
        props:["item"],
        data: function(){
            return {
                isLoading:false

            }
        },
        mounted() {
            // this.isLoading=false;
        }
    }
</script>
