<template>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-8">
                <div class="no-results">
                    <img src="img/NoResults.png">
                    </img>
                    <h1>No Results :(</h1>
                </div>
                </div>
            <div class="col">
            </div>
        </div>
    </div>
  
</template>

<script>
    export default {

    }
</script>
