<template>

<div class="col">
	<div class="roles">
		<div class="role-list">
       		<li>
       			<a v-for="role in Object.keys(employeeGroups)" :href="'#a '+role">{{role}}</a>
       		</li>
       	</div>
   	</div>
</div>
        
</template>

<script>
	import vuetify from 'Vuetify';
    export default {
        props:["employeeGroups"],
        mounted() {
        }

    }


</script>
<style src="vuetify/dist/vuetify.min.css"></style>
