<template>
    <div v-bind:class="teamMember.Service_Area_Style + ' card'">
        <div class="card-header">
            <p>{{teamMember.Location}}</p>
            <h1>{{teamMember.Operating_Unit}}</h1>
            <h2>{{teamMember.description}}</h2>
            <a v-bind:href="'https://people.deloitteresources.com/dpn/index.html#/Profile/'+teamMember.username" target="_blank" >{{teamMember.Full_Name}}</a>
        </div>
        <img class = "card-img-bottom" v-bind:src="'img/'+teamMember.username+'.png'" onerror="this.src='img/id.png';"></img>
        <div class="large-card-body-top">
            <h1>{{teamMember.Qualification}}</h1>
            <p>{{teamMember.Bio}}</p>
        </div>
        </div>
    </div>                      
</template>

<script>
    export default {
        props:["teamMember"],
        data: function(){
            return {
                isLoading:false
            }
        }
    }
</script>
